/***************************
 * Title : ngSocketChat 0.1
 * Filename : _global.less
 * Date : 06.07.2017
 * Class :
 * - - - - - - - - - - - - -
 * Owner : Marc Ernst
 * Comp: SkyIT Webdesign
 * E-Mail : ernst@skylo.de
 * License Type : MIT
 ***************************/

body {
  background-color: @bodybg;
  color: @bodycolor;
  // font-family: "Roboto", "Tahoma", sans-serif;
  // font-size: 14px;
}

.jumbotron {
 // background-color: #0a1a31 !important;
  height: 500px;
  //background: url('./images/city.jpg') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.jumbotron .container {
  position: relative;
  top: 50px;
}

#mainNav .nav-item {
  margin: 0 0 0 20px;
}

h1.landing-header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-bottom: 20px;
  border-bottom: 1px solid (@bodybg * 2);
}

.margintop80 {
  margin-top: 80px !important;
}

.form-signin-heading {
  margin: 20px auto;
}

#root-container {
  display: block;
  //  min-height: 100vh;
  max-height: 100%;
  // padding-top: 50px;
  background: url('./images/city.jpg') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-jumbo {
  padding: 50px 0;
}

.background-fix {
  background-color: #292b2c;
}

.container-bg {
  background-color: @bodybg !important;
  color: @bodycolor;
  padding: 20px 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
}

/**
 * Chatroom
 */

#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat-window {
  // position: relative;
  // padding-top: 60px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.9em;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #23313c;
 // overflow-y: scroll;
}

#chat-window {
  div {
    display: block;
    width: 100%;
  }

  span.time {
    font-size: 10px;
  }

  span.user {
    color: #00b3ee;
  }

  span.message {
    color: #2091ee;
  }
}

#user-list {
 // margin: 10px;
  padding: 20px;
  background: rgba(0,0,0,0.66);
  position: relative;
  height: 100%;

}

.message-container {
  //border-bottom: 1px dotted @bodybg;
  padding: 5px 3px;
}

.message-container.system {
  font-size: 11px !important;
  padding: 5px 3px;
  border-bottom: 0px;
}

.message-container.system {
  .user {
    color: #687772 !important;
  }
}

.message-container.own {
  .user {
    color: #129973 !important;
  }
}

.posrel {
  position: relative !important;
}

.footer {

  #message {
    background-color: @bodybg;
    color: @bodycolor;
  }
  .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .align-items-end {
    padding: 12px 0px;
  }
}


/**
nanoscroller.js

**/

.nano { background: #bba; width: 500px; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }


.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


