<div class="container">
  <div class="chat-container">
    <div class="row" style="height: calc(100vh - 120px);">
      <div id="chat-window" class="col-md-9">
        <!-- Start Chatmessage -->
        <div class="message-container p-2"
             [ngClass]="{'system': (item.sender == 'SYSTEM'), 'own':(item.sender == userServ.currentAlias)}"
             *ngFor="let item of messages">
          <span class="time">[ {{item.timestamp | timestamp}} ]</span> <span class="user">{{item.sender}}: </span>
          <span class="message">{{item.msg}}</span>
        </div>
        <!-- End Chatmessage -->
      </div>
      <div id="user-list" class="col-md-3">
        <h3>Gerade im Chat ...</h3>
        <div *ngFor="let user of chatServ.userlist">
          {{user}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="d-flex align-items-end col-md-12">
      <input type="text" [(ngModel)]="messageToSend" (keydown)="handleEvent($event)" name="msg" id="message"
             class="form-control col-10" placeholder="Nachricht" required autofocus>
      <button class="btn btn-outline-success col-2" (click)="sendMsg()">Senden</button>
    </div>
  </div>
</div>
