/***************************
 * Title : ngSocketChat 0.1
 * - - - - - - - - - - - - -
 * Owner : Marc Ernst
 * E-Mail : ernst@skylo.de
 * License Type : MIT
 * Date : 06.07.17
 * Filename : generalstyles.less
 * Class : LESS MAIN
 ***************************/
/***************************
 * Title : ngSocketChat 0.1
 * Filename : _global.less
 * Date : 06.07.2017
 * Class :
 * - - - - - - - - - - - - -
 * Owner : Marc Ernst
 * Comp: SkyIT Webdesign
 * E-Mail : ernst@skylo.de
 * License Type : MIT
 ***************************/
/* line 13, C:\_edu\ngSocketChat\less\_global.less */
body {
  background-color: #161f26;
  color: #f0f8ff;
}
/* line 20, C:\_edu\ngSocketChat\less\_global.less */
.jumbotron {
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 31, C:\_edu\ngSocketChat\less\_global.less */
.jumbotron .container {
  position: relative;
  top: 50px;
}
/* line 36, C:\_edu\ngSocketChat\less\_global.less */
#mainNav .nav-item {
  margin: 0 0 0 20px;
}
/* line 40, C:\_edu\ngSocketChat\less\_global.less */
h1.landing-header {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin-bottom: 20px;
  border-bottom: 1px solid #2c3e4c;
}
/* line 47, C:\_edu\ngSocketChat\less\_global.less */
.margintop80 {
  margin-top: 80px !important;
}
/* line 51, C:\_edu\ngSocketChat\less\_global.less */
.form-signin-heading {
  margin: 20px auto;
}
/* line 55, C:\_edu\ngSocketChat\less\_global.less */
#root-container {
  display: block;
  max-height: 100%;
  background: url('images/city.jpg') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 67, C:\_edu\ngSocketChat\less\_global.less */
.landing-jumbo {
  padding: 50px 0;
}
/* line 71, C:\_edu\ngSocketChat\less\_global.less */
.background-fix {
  background-color: #292b2c;
}
/* line 75, C:\_edu\ngSocketChat\less\_global.less */
.container-bg {
  background-color: #161f26 !important;
  color: #f0f8ff;
  padding: 20px 0px;
}
/* Sticky footer styles
-------------------------------------------------- */
/* line 83, C:\_edu\ngSocketChat\less\_global.less */
html {
  position: relative;
  min-height: 100%;
}
/* line 88, C:\_edu\ngSocketChat\less\_global.less */
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/* line 93, C:\_edu\ngSocketChat\less\_global.less */
.footer {
  position: absolute;
  bottom: 2px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #292b2c;
}
/**
 * Chatroom
 */
/* line 107, C:\_edu\ngSocketChat\less\_global.less */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* line 113, C:\_edu\ngSocketChat\less\_global.less */
#chat-window {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.9em;
  max-height: 100%;
  overflow-y: scroll;
  background-color: #23313c;
}
/* line 125, C:\_edu\ngSocketChat\less\_global.less */
#chat-window div {
  display: block;
  width: 100%;
}
/* line 130, C:\_edu\ngSocketChat\less\_global.less */
#chat-window span.time {
  font-size: 10px;
}
/* line 134, C:\_edu\ngSocketChat\less\_global.less */
#chat-window span.user {
  color: #00b3ee;
}
/* line 138, C:\_edu\ngSocketChat\less\_global.less */
#chat-window span.message {
  color: #2091ee;
}
/* line 143, C:\_edu\ngSocketChat\less\_global.less */
#user-list {
  padding: 20px;
  background: rgba(0, 0, 0, 0.66);
  position: relative;
  height: 100%;
}
/* line 152, C:\_edu\ngSocketChat\less\_global.less */
.message-container {
  padding: 5px 3px;
}
/* line 157, C:\_edu\ngSocketChat\less\_global.less */
.message-container.system {
  font-size: 11px !important;
  padding: 5px 3px;
  border-bottom: 0px;
}
/* line 164, C:\_edu\ngSocketChat\less\_global.less */
.message-container.system .user {
  color: #687772 !important;
}
/* line 170, C:\_edu\ngSocketChat\less\_global.less */
.message-container.own .user {
  color: #129973 !important;
}
/* line 175, C:\_edu\ngSocketChat\less\_global.less */
.posrel {
  position: relative !important;
}
/* line 181, C:\_edu\ngSocketChat\less\_global.less */
.footer #message {
  background-color: #161f26;
  color: #f0f8ff;
}
/* line 185, C:\_edu\ngSocketChat\less\_global.less */
.footer .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* line 190, C:\_edu\ngSocketChat\less\_global.less */
.footer .align-items-end {
  padding: 12px 0px;
}
/**
nanoscroller.js

**/
/* line 201, C:\_edu\ngSocketChat\less\_global.less */
.nano {
  background: #bba;
  width: 500px;
  height: 500px;
}
/* line 202, C:\_edu\ngSocketChat\less\_global.less */
.nano .nano-content {
  padding: 10px;
}
/* line 203, C:\_edu\ngSocketChat\less\_global.less */
.nano .nano-pane {
  background: #888;
}
/* line 204, C:\_edu\ngSocketChat\less\_global.less */
.nano .nano-slider {
  background: #111;
}
/* line 207, C:\_edu\ngSocketChat\less\_global.less */
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 213, C:\_edu\ngSocketChat\less\_global.less */
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 222, C:\_edu\ngSocketChat\less\_global.less */
.nano > .nano-content:focus {
  outline: thin dotted;
}
/* line 225, C:\_edu\ngSocketChat\less\_global.less */
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
/* line 228, C:\_edu\ngSocketChat\less\_global.less */
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
/* line 231, C:\_edu\ngSocketChat\less\_global.less */
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 248, C:\_edu\ngSocketChat\less\_global.less */
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 257, C:\_edu\ngSocketChat\less\_global.less */
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
