<div class="container background-fix">
  <nav id="main-navbar" class="navbar navbar-toggleable-md navbar-inverse sticky-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">ChatCity 2017</a>
    <div class="collapse navbar-collapse justify-content-end" id="mainNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="#">Start<span class="sr-only">(current)</span></a>
        </li>
    <!--    <li class="nav-item">
          <a class="nav-link" href="#Allgemein">Über den Autor</a>
        </li> -->
        <li class="nav-item" *ngIf="!userServ.loggedIn()">
          <button class="btn btn-outline-primary" routerLink="register" >Login / Registrieren</button>
        </li>
      <!--  <li class="nav-item">
          <a class="nav-link" routerLink="#">Links</a>
        </li> -->
        <li class="nav-item" *ngIf="userServ.loggedIn()">
          <button class="btn btn-outline-success" routerLink="chat">Chat starten</button>
        </li>
        <li class="nav-item" *ngIf="userServ.loggedIn()">
          <button class="btn btn-outline-primary" (click)="doLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>


