<div class="jumbotron">
  <div class="container">
    <div class="card card-inverse" style="background-color: rgba(25,25,25,0.85); border: 0px;">
      <div class="card-block">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#login" role="tab" aria-controls="profile">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#register" role="tab"
               aria-controls="home">Registrieren</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="login" role="tabpanel">
            <form class="form-signin" (submit)="loginUser()">
              <h2 class="form-signin-heading">Bitte melde dich an</h2>
              <label for="loginUser" class="sr-only">Benutzername</label>
              <input type="text" [(ngModel)]="loginModel.username" name="loginusername" id="loginUser"
                     class="form-control" placeholder="Email address" required autofocus>
              <label for="loginPassword" class="sr-only">Passwort</label>
              <input type="password" [(ngModel)]="loginModel.password" name="loginpassword" id="loginPassword"
                     class="form-control" placeholder="Password" required>
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Username merken
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Einloggen</button>
            </form>
          </div>
          <div class="tab-pane " id="register" role="tabpanel">
            <form class="form-signin" (submit)="registerUser()">
              <h2 class="form-signin-heading">Registriere dich um loszuchatten</h2>
              <label for="inputUser" class="sr-only ">Benutzername</label>
              <input type="text" [(ngModel)]="regModel.username" name="username" id="inputUser" class="form-control" placeholder="Benutzername" required autofocus>
              <label for="inputAlias" class="sr-only">Alias (im Chat sichtbar)</label>
              <input type="text" [(ngModel)]="regModel.alias" name="alias" id="inputAlias" class="form-control" placeholder="Alias" required autofocus>
              <label for="inputPassword" class="sr-only">Passwort</label>
              <input type="password" [(ngModel)]="regModel.password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>
              <label for="inputPassword2" class="sr-only">Passwort (wiederholen)</label>
              <input type="password" [(ngModel)]="controlPwd" name="controlPwd" id="inputPassword2" class="form-control" placeholder="Passwort (wiederholen)"
                     required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Registrieren</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
